@model IEnumerable<EjercicioCoches.Models.Vehiculo>



<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conductor)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelo)
            </td>
            <td>
                <ul>
                    @foreach (var con in item.Conductor)
                    {
                        <li>
                            @Html.ActionLink(con.nombre + " " + con.apellidos, "Detalle",
                  "Conductores", new { id = con.idConductor }, null)
                        </li>
                    }

                </ul> 
            </td>
            
            <td>
               @Html.ActionLink("Modificar", "Modificar", new { item.id })
            @Html.ActionLink("Borrar", "Borrar", new { item.id })
            </td>
        </tr>
    }

</table>

